*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 800px;
    height: 800px;
    background-color: black;
    position: relative;

}
.thumbr{
    width: 300px;
    height: 800px;
    background-color: black;
}

.slide{
    width: 100%;
    height: 100%;
    display: none;
}
.thumb{
    width: 100%;
    height: calc(100% / 5);
    object-fit: cover;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.active{
    display: block;
}
.box-img{
    height: calc(100% / 5);
    opacity: 0.4;
}
button{
    color: white;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    z-index: 2000;
}
.next{
    right: 0;
}
.border-white{
    border: 2px solid white;
}
.opacity{
    opacity: 1;
}

